.our-service-section {
  display: flex;
  padding: 1.8rem 1.2rem;
  flex-direction: column;
}
.our-service-heading {
  font-size: 70px;
  font-weight: 600;
  color: #000;
}

.service-sub-heading {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.service-all-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: red; */
  margin-top: 20px;
  row-gap: 10px;
}

.service-box {
  width: 25%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.service-image {
  width: 25%;
}

.service-heading {
  font-size: 20px;
}

.service-read-more {
  color: #001359;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.service-read-more:hover {
  color: #6e01eb;
}

@media (max-width: 600px) {
  .our-service-heading {
    font-size: 30px !important;
    font-weight: 600;
    color: #000;
  }

  .service-image {
    width: 20% !important;
  }

  .service-sub-heading {
    font-size: 10px !important;
    font-weight: bold;
    color: #000;
  }

  .service-read-more-arrow {
    font-size: 8px !important;
    margin-left: 5px;
  }

  .all-clients-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 1.8rem;
    gap: 15px;
  }

  .service-box {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    /* background-color: aqua; */
  }

  .service-all-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: red; */
    margin-top: 20px;
    row-gap: 25px !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .our-service-heading {
    font-size: 50px !important;
    font-weight: 600;
    color: #000;
  }

  .service-sub-heading {
    font-size: 15px !important;
    font-weight: bold;
    color: #000;
  }

  .service-heading {
    font-size: 12px !important;
  }

  .service-read-more {
    font-size: 12px !important;
  }

  .service-read-more-arrow {
    font-size: 10px !important;
    margin-left: 5px;
  }

  .all-clients-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 1.8rem;
    gap: 15px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .our-service-section {
    display: flex;
    padding: 1.8rem 5vw !important;
    flex-direction: column;
  }

  .our-service-heading {
    font-size: 60px !important;
    font-weight: 600;
    color: #000;
  }

  .service-heading {
    font-size: 15px !important;
  }

  .service-read-more {
    font-size: 15px !important;
  }

  .service-read-more-arrow {
    font-size: 13px !important;
    margin-left: 5px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .our-service-section {
    display: flex;
    padding: 1.8rem 5vw !important;
    flex-direction: column;
  }
  .service-read-more-arrow {
    font-size: 18px !important;
    margin-left: 5px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .our-service-section {
    display: flex;
    padding: 1.8rem 28vw !important;
    flex-direction: column;
  }
  .service-read-more-arrow {
    font-size: 18px !important;
    margin-left: 5px;
  }
}
