.header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  z-index: 100;
  position: sticky;
  background-color: #ffffff;
  top: 0;
  left: 0;
}
.logo {
  /* background-color: aquamarine; */
  width: 200px;
}

.img {
  width: 200px;
}

.header-items-container {
  /* background-color: blueviolet; */
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: auto;
  /* grid-template-columns: repeat(7, 1fr); */
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  width: auto;
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  color: #000;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  /* background-color: rgb(194, 34, 34); */
}

.sub-header-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 735px;
  background-color: #000;
  color: #ffffff;
}

.sub-header-content {
  padding: 1rem;
  font-size: 16px;
}

.sub-header-content:hover {
  background-color: #6e01eb;
  cursor: pointer;
}

.header-item:hover {
  color: #6e01eb;
}
